<launch>


<node name="placeDetectionNode" pkg="placeDetectionISL" type="placeDetectionNode" output="screen" >
	<param name="tau_w" type="int" value="3" />
	<param name="tau_n" type="int" value="5" />
        <param name="tau_inv" type="double" value="0.56" />
	<param name="camera_topic" type="string" value="/axis/image_raw" />
	<param name="image_width" type="int" value="640" />
        <param name="image_height" type="int" value="480" />
        <param name="focal_length_pixels" type="int" value="550" />
        <param name="tau_val_mean" type="double" value="0.15" />
        <param name="tau_val_var" type="double" value="0.003" />
</node>


</launch>
